.container-pix{
    width: 30vw;
    height: 80vh;
    padding: 20px;
    display: none;
    align-items: center;
    border-radius: 5px;
    z-index: 1;
    justify-content: center;
    flex-direction: column;
    position: fixed; 
    background: #fff;
    box-shadow: 3px  3px 20px rgba(0,0,0,0.8)
}

.chave{
    padding: 10px;
    background: rgba(151,11,50,0.8);
    border-radius: 5px;
    color: #fff;
}

.img-QR{
    width: 200px;
    margin: 10px 0;
}

.key-title{
    color: #970b32;
    margin: 10px 0;
    font-family: Arial;
    display: flex;
    flex-direction: column;
    justyfy-content: center;
    align-items: center;
    text-align: center;
}

.symbol{
   animation: motion 3s infinite; 
}

@keyframes motion{
    0%{
        transform: translateY(0);
    }
    33%{
        transfrom: translateY(50px);
    }
    66%{
        transfrom: translateY(-50px);
    }
    100%{
        transform: translate(0px);
    }
}

@media (max-width: 425px) {

    .container-pix{
        margin: auto;
        min-width: 260px;
        font-size: 10pt;
    }

    .img-QR{
        width: 150px;
    }

    .key-title, .key-title-primary{
        font-size: 12pt;
    }    
}