*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    height: 20vh;
    width: 100vw;
    background-color: #970b32;
    display: flex;
    flex-direction: row;
}

.container-image{
    width: 25vw;
    display: flex;
    padding: 5px;
}

.logo{
    width: 100%;
    margin: auto;
    margin-left: 20px;
}

@media (max-width: 500px){
    .container-image{
        width: 38vw;
    }
}